* {
    background-color: #121212;
    font-family: Poppins;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: white;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;  
}

body {
    overflow: hidden;
    scrollbar-width: 0;
}

header {
    font-size: 2em;
}

p {
    font-size: 2rem;
}

.button {
    background-color: #A0e74b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    padding: 10px 16px;
    color: black;
    margin-top: 1.5em;
    min-width: 200px;
    height: fit-content;
    /* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25); */
    text-decoration: none;
}

.button:hover {
    background-color: #b8f368;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
}

.container {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 5rem;
}

.buttons-container {
    display: flex;
    gap: 1.5rem;
}

svg {
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  /* background-color: #1e1e1e; */
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  /* border-radius: 5px; */
  padding: 0.5rem 0;
  z-index: 10;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  min-width: 200px;
}

.dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  /* color: white; */
  text-decoration: none;
  background-color: #A0e74b;
}

.dropdown-menu a:hover {
  background-color: #b8f368;
}
